<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxh.onlineStore.dao.ClassifyDao">
  <resultMap id="BaseResultMap" type="com.yxh.onlineStore.po.Classify">
    <id column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="index" jdbcType="TINYINT" property="index" />
  </resultMap>
  <sql id="Base_Column_List">
    category_id, name, fid, index
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from category
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yxh.onlineStore.po.Classify">
    insert into category (category_id, name, fid, 
      index)
    values (#{categoryId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{fid,jdbcType=VARCHAR}, 
      #{index,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yxh.onlineStore.po.Classify">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="index != null">
        index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        #{index,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxh.onlineStore.po.Classify">
    update category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        index = #{index,jdbcType=TINYINT},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxh.onlineStore.po.Classify">
    update category
    set name = #{name,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=VARCHAR},
      index = #{index,jdbcType=TINYINT}
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>
</mapper>