<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxh.onlineStore.dao.SellerDao">
  <resultMap id="BaseResultMap" type="com.yxh.onlineStore.po.Seller">
    <id column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="true_name" jdbcType="VARCHAR" property="trueName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
    <result column="store_num" jdbcType="TINYINT" property="storeNum" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="description" jdbcType="TINYINT" property="description" />
    <result column="service" jdbcType="TINYINT" property="service" />
    <result column="logistics" jdbcType="TINYINT" property="logistics" />
  </resultMap>
  <sql id="Base_Column_List">
    seller_id, true_name, nick_name, account, reg_date, store_num, img, point, description, 
    service, logistics
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller
    where seller_id = #{sellerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from seller
    where seller_id = #{sellerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yxh.onlineStore.po.Seller">
    insert into seller (seller_id, true_name, nick_name, 
      account, reg_date, store_num, 
      img, point, description, 
      service, logistics)
    values (#{sellerId,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{regDate,jdbcType=TIMESTAMP}, #{storeNum,jdbcType=TINYINT}, 
      #{img,jdbcType=VARCHAR}, #{point,jdbcType=INTEGER}, #{description,jdbcType=TINYINT}, 
      #{service,jdbcType=TINYINT}, #{logistics,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yxh.onlineStore.po.Seller">
    insert into seller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="trueName != null">
        true_name,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="regDate != null">
        reg_date,
      </if>
      <if test="storeNum != null">
        store_num,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="service != null">
        service,
      </if>
      <if test="logistics != null">
        logistics,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sellerId != null">
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null">
        #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="storeNum != null">
        #{storeNum,jdbcType=TINYINT},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=TINYINT},
      </if>
      <if test="service != null">
        #{service,jdbcType=TINYINT},
      </if>
      <if test="logistics != null">
        #{logistics,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxh.onlineStore.po.Seller">
    update seller
    <set>
      <if test="trueName != null">
        true_name = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null">
        reg_date = #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="storeNum != null">
        store_num = #{storeNum,jdbcType=TINYINT},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=TINYINT},
      </if>
      <if test="service != null">
        service = #{service,jdbcType=TINYINT},
      </if>
      <if test="logistics != null">
        logistics = #{logistics,jdbcType=TINYINT},
      </if>
    </set>
    where seller_id = #{sellerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxh.onlineStore.po.Seller">
    update seller
    set true_name = #{trueName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=TIMESTAMP},
      store_num = #{storeNum,jdbcType=TINYINT},
      img = #{img,jdbcType=VARCHAR},
      point = #{point,jdbcType=INTEGER},
      description = #{description,jdbcType=TINYINT},
      service = #{service,jdbcType=TINYINT},
      logistics = #{logistics,jdbcType=TINYINT}
    where seller_id = #{sellerId,jdbcType=VARCHAR}
  </update>
</mapper>