<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxh.onlineStore.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.yxh.onlineStore.po.User">
    <id column="u_id" jdbcType="VARCHAR" property="uId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="true_name" jdbcType="VARCHAR" property="trueName" />
    <result column="lv" jdbcType="TINYINT" property="lv" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="addr_id" jdbcType="VARCHAR" property="addrId" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="addr_num" jdbcType="TINYINT" property="addrNum" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    u_id, account, password, reg_date, sex, nick_name, true_name, lv, point, addr_id, 
    exp, addr_num, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where u_id = #{uId,jdbcType=VARCHAR}
  </select>
  <select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <select id="hasMobileNum" parameterType="java.lang.String" resultType="java.lang.String">
    select
    account
    from user
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where u_id = #{uId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yxh.onlineStore.po.User">
    insert into user (u_id, account, password, 
      reg_date, sex, nick_name, 
      true_name, lv, point, 
      addr_id, exp, addr_num, 
      img)
    values (#{uId,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{regDate,jdbcType=TIMESTAMP}, #{sex,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{trueName,jdbcType=VARCHAR}, #{lv,jdbcType=TINYINT}, #{point,jdbcType=INTEGER}, 
      #{addrId,jdbcType=VARCHAR}, #{exp,jdbcType=INTEGER}, #{addrNum,jdbcType=TINYINT}, 
      #{img,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yxh.onlineStore.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="regDate != null">
        reg_date,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="trueName != null">
        true_name,
      </if>
      <if test="lv != null">
        lv,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="addrId != null">
        addr_id,
      </if>
      <if test="exp != null">
        exp,
      </if>
      <if test="addrNum != null">
        addr_num,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null">
        #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="lv != null">
        #{lv,jdbcType=TINYINT},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="addrId != null">
        #{addrId,jdbcType=VARCHAR},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=INTEGER},
      </if>
      <if test="addrNum != null">
        #{addrNum,jdbcType=TINYINT},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxh.onlineStore.po.User">
    update user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null">
        reg_date = #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        true_name = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="lv != null">
        lv = #{lv,jdbcType=TINYINT},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="addrId != null">
        addr_id = #{addrId,jdbcType=VARCHAR},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="addrNum != null">
        addr_num = #{addrNum,jdbcType=TINYINT},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxh.onlineStore.po.User">
    update user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=TIMESTAMP},
      sex = #{sex,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      lv = #{lv,jdbcType=TINYINT},
      point = #{point,jdbcType=INTEGER},
      addr_id = #{addrId,jdbcType=VARCHAR},
      exp = #{exp,jdbcType=INTEGER},
      addr_num = #{addrNum,jdbcType=TINYINT},
      img = #{img,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=VARCHAR}
  </update>
</mapper>